
@{

    Layout = "_ClientLayout";
    @model ProductsAndProducersListViewModel
 }

<div>
    <select>
        <option value="default">Alege</option>
        @foreach (var producer in Model.Producers)
        {
            <option value="@producer.ProducerId">@producer.Name</option>
        }
    </select>
</div>


<div class="card-columns">
    @foreach (var product in Model.Products)
    { 
        <div class="card">
            <img class="card-img" src="@Url.Content(product.PhotoUrl)"/>
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <h3 class="card-text">@product.Price lei/kg</h3>
            </div>
        </div>
    }
</div>